/* styles/CookieConsent.module.css */

.banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgb(255,255,255,0.7);
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text {
    margin: 0;
    color:black
  }
  
  .button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  