.container {
    height : 500px;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container span {
    font-size: 60px;
    /* color : #b6eafa; */
    color : antiquewhite;
    font-family:var(--font-title)
}


.container h1 {
    text-shadow: 2px 2px black;
    color : white;
    text-align: center;
}

.job {
    color:red;
  }

.job::after  {
    content:"Actuarial Science";
    animation-name: animate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}


@keyframes animate {
    0%  { content:"Actuarial Science";}
    15% { content:"FrontEnd Development";}
    30% { content:"BackEnd Development";}
    45% { content:"Data Science";}
    60% { content:"StartUps";}
    75% { content:"Finance";}
    90% { content:"Risk Management";}
}



@media screen and (max-width : 600px) {
    .container span {
        font-size: 50px;
    }

    .left {
        align-self: center;
        margin-left:0px
    }
}
