.container {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolioContainer {
    display : flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

.project {
    display : flex;
    flex-direction: column;
    width : 20vw;
    height: 200px;
}

.project:hover {
    transform: scale(1.05);
}

@media (max-width:1200px){
    .project {
        width : 30vw
    }
  }
  @media (max-width:800px){
    .project {
        width : 40vw
    }

  }
  @media (max-width:600px){
    .project {
        width : 60vw
    }
}