.chatButtonContainer {
  position: fixed;
  /* bottom: 82px;
  right: 20px; */
  display: flex;
}

.chatButton {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
}

.dragBorder {
  background-color: rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 60px;
  border-radius: 4px;
  cursor: move;
}
