.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    width: 48vw;
    min-height: 100px;
}

.container:hover {
    background-color: aquamarine;
}

.container h1 {
    color:black
}

.container h2 {
    color: black
}

