.container {
    width : 100%;
    height : 200px;
    position: relative;
    border-radius: 10px;
    margin: 5px 5px 5px;
    box-shadow: 5px 5px;
}

.conciseInfo {
    position: relative;
    width:inherit;
    height : inherit;
    background-color: rgb(0,0,0,0.4);
    color : white;
    display: none;
    border-radius: 10px;
}

.container:hover .conciseInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ModalContainer {
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
    height : 100%;
    background-color: rgb(var(--background-main-rgb));
    overflow-y: scroll;
    overflow-x: scroll;
    border-radius: 10px;
    animation: fade-in-from-bottom 1s;
    padding-bottom: 20px;
}

.ModalContainer > h1 {
  color : rgb(var(--foreground-main-rgb));
  font-size: 5vh;
}

.ModalContainer > h2 {
  
}

.ModalContainer > h3 {

}

.Modal {
    position: absolute;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    bottom: 10px;
    
  }

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.4)
  }

  .carouselContainer {
    width : 100%;
    height: auto;
  }

  .image {
    object-fit: contain;
  }


  .conciseInfo > h2 {
    animation: fade-in-from-top2 0.5s;
  }

  .conciseInfo > button {
    animation: fade-in-from-bottom2 0.5s;
  }



  @keyframes fade-in-from-bottom {
    0% {
      transform: translateY(5%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-from-bottom2 {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-from-top {
    0% {
      transform: translateY(-5%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-from-top2 {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  