.comment {
    position : absolute;
    max-width: 300px;
    z-index: 1;
    display : none;
    border : 2px dotted rgb(var(--foreground-main-rgb));
    background-color: rgb(0,0,0,0.7);
    border-radius: 10px;
    padding: 1px 5px 2px;
    color : white;
}

.tag {
    padding:1px 5px 1px;
    border-radius: 10px;
    font-size: 20px;
}

.tag:hover{
    background-color: rgb(var(--foreground-sub-rgb));
    color:white;
}

.dropdown{
    /* position : relative; */
    display: inline-block;
}

.dropdown:hover .comment{
    display: block;
}
