.container{
    display: flex;
    align-items: center;
}

.flame {
    transform: translateY(-4px);
    animation: 2s flameEffect  ease-in-out infinite
}

@keyframes flameEffect {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(70deg);
        opacity: 0.5;
    }
}

.rocketReady {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform:rotate(-180deg);
}

.rocketLaunch {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 3s rocketFire ease-in 1 normal forwards;
    transform:rotate(-180deg);
}


@keyframes rocketFire {
    0% {

    }

    20% {
        transform:translateY(-5px) scale(1.8) rotate(-15deg)
    }

    100% {
        transform:translateY(-2000px) translateX(-200px) scale(2)
    }

}